*~
*.so
*.o
*.lo
*.la
*.tar.gz
qrc_*
moc_*
Makefile
autom4te.cache
config.h
config.log
config.status
libtool
.deps
.libs
stamp-h1

simplescreenrecorder
simplescreenrecorder.png
resources_generated.qrc

private-*
