*~
*.so
*.o
*.lo
*.la
*.tar.gz
*.user
*.orig
*.autosave
*.qm
qrc_*
moc_*
Makefile
autom4te.cache
config.h
config.log
config.status
libtool
.deps
.libs
.dirstamp
stamp-h1

build-*
src/simplescreenrecorder

private-*
