[Desktop Entry]
Type=Application
Name=SimpleScreenRecorder
Icon=simplescreenrecorder
Exec=simplescreenrecorder --logfile
Terminal=false
Categories=AudioVideo;Video;Recorder;Qt;
