[Desktop Entry]
Categories=AudioVideo;Video;Recorder;Qt;
Exec=simplescreenrecorder --logfile
Icon=simplescreenrecorder
StartupNotify=true
Terminal=false
Type=Application

Name=Simple Screen Recorder
Name[es]=Grabador de pantalla simple
Name[fr]=Enregistreur d’écran
Name[fr_BE]=Enregistreur d’écran
Name[pt]=Gravador de Ecrãs simples
Name[pt_BR]=Gravador de Tela SimpleScreenRecorder
Name[sl]=Preprost snemalnik zaslona

GenericName=Screen recording program
GenericName[it]=Programma di registrazione dello schermo
GenericName[ca]=Programa d'enregistrament de pantalla
GenericName[es]=Programa de grabación de pantalla
GenericName[fi]=Näytön tallennusohjelma
GenericName[fr]=Programme d’enregistrement d’écran
GenericName[fr_BE]=Programme d’enregistrement d’écran
GenericName[ja]=画面を録画するためのプログラム
GenericName[pt]=Programa para gravar o ecrã
GenericName[pt_BR]=Programa para a gravação da tela
GenericName[ru]=Программа записи экрана
GenericName[sl]=Program za zajemanje zaslona
GenericName[sv]=Skärminspelningsprogram

Comment=A feature-rich screen recorder that supports X11 and OpenGL
Comment[de]=Ein funktionsreicher Bildschirmrekorder, der X11 und OpenGL unterstützt
Comment[it]=Un registratore di schermi ricco di funzionalità che supporta X11 e OpenGL
Comment[hu]=Funkciógazdag képernyőrögzítő X11 és OpenGL támogatással
Comment[ca]=Un enregistrador de pantalla molt complet, amb suport per X11 i OpenGL
Comment[es]=Un grabador de pantalla rico en funciones compatible con X11 y OpenGL
Comment[fi]=Monipuolinen näytön nauhoittaja, joka tukee X11:tä ja OpenGL:ää
Comment[fr]=Un enregistreur d’écran riche en fonctionnalités qui prend en charge X11 et OpenGL
Comment[fr_BE]=Un enregistreur d’écran riche en fonctionnalités qui prend en charge X11 et OpenGL
Comment[id]=Perekam layar kaya fitur yang mendukung X11 dan OpenGL
Comment[ja]=X11 と OpenGL 対応の機能豊富なスクリーンレコーダー
Comment[lt]=Funkcionali ekrano įrašymo programa, palaikanti X11 ir OpenGL
Comment[pt]=Gravador de ecrã que suporta X11 e OpelGL
Comment[pt_BR]=O ‘Simple Screen Recorder’ ou ‘SSR’ permite gravar ou capturar o vídeo e o áudio da tela da área de trabalho, podendo gravar a tela inteira ou uma parte específica da tela, é possível pausar e retomar a gravação a qualquer momento, é compatível com o X11 e o OpenGL, pode ser utilizado para gravar a execução dos outros programas e dos jogos
Comment[ru]=Многофункциональный рекордер экрана, который поддерживает X11 и OpenGL
Comment[sk]=Vlastnosťami nabitý nahrávač obrazovky, ktorý podporuje X11 a OpenGL
Comment[sl]=Zaslonski snemalnik s številnimi funkcijami, ki podpira X11 in OpenGL
Comment[sq]=Një regjistrues ekrani plot veçori, që mbulon X11 dhe OpenGL
Comment[sv]=En skärminspelare med rika möjligheter som stöder X11 och OpenGL

Keywords=screen recorder;screencast;live streaming;ssr;
Keywords[it]=registratore dello schermo;screencast;streaming dal vivo;ssr;
Keywords[ca]=screen recorder;screencast;live streaming;ssr;enregistrador de pantalla;
Keywords[es]=screen recorder;screencast;live streaming;ssr;grabador de pantalla;captura de pantalla;transmisión en directo;ssr;
Keywords[fi]=näytön tallentaja;screencast;live streaming;ssr;
Keywords[fr]=screen recorder;screencast;live streaming;ssr;enregistreur d’écran;
Keywords[fr_BE]=screen recorder;screencast;live streaming;ssr;enregistreur d’écran;
Keywords[ja]=screen recorder;録画;screencast;スクリーンキャスト;live streaming;ライブストリーム;ssr;
Keywords[pt]=gravador de ecrã;screencast;live streaming;ssr;
Keywords[pt_BR]=gravar a tela;gravador de tela;gravação da tela;gravar em vídeo;gravar em áudio;elenco de tela;transmissão ao vivo;simples;gravação;capturar;ssr;
Keywords[sl]=snemalnik zaslona;screencast;pretakanje v živo;ssr;
Keywords[sv]=skärminspelarer;screencast;live streaming;ssr;
